@model MVCFrameworkHandShake.Models.Product

@{
    ViewData["Title"] = "Products";
    var Prds = (List<MVCFrameworkHandShake.Models.Product>)ViewBag.Prds;
}

<h1>Products</h1>

<p>
    <a href="/Product/Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Prds[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => Prds[0].QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => Prds[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => Prds[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => Prds[0].UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => Prds[0].ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => Prds[0].Discontinued)
            </th>
            <th>
                @Html.DisplayNameFor(model => Prds[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => Prds[0].Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Prds)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discontinued)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                </td>
                <td>
                    <a href="/Product/Edit/@item.ProductId">Edit</a> |
                    <a href="/Product/Details//@item.ProductId">Details</a> |
                    <a href="/Product/Delete//@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
